# mask -- median
## pink and yellow
## train and val

In [23]:
import numpy as np 
import pandas as pd 
import cv2
import os 
import SimpleITK as sitk
from tfmed.utils.med_ops import *

In [24]:
# train
# train mask path
train_path = '/public/lixin/DATA/segthor/input/segthor_gz/train'

In [25]:
tr_list = [ 5, 33, 26,  2, 13, 27, 20, 40,  6, 19, 36, 18, 35, 22, 11, 28,  7,
        37, 29,  8, 30, 24, 16, 10, 38, 21,  4, 32,  9, 23, 25, 31]
va_list = [1, 39, 34, 12, 17, 14, 15, 3]
test_list = [41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

In [26]:
med = []
for i in tr_list:
    mask_path = os.path.join(train_path, 'GT_' + str(i).zfill(2) + '.nii.gz')
    file_path = os.path.join(train_path, 'Patient_' + str(i).zfill(2) + '.nii.gz')
    file = sitk.GetArrayFromImage(sitk.ReadImage(file_path))
    mask = sitk.GetArrayFromImage(sitk.ReadImage(mask_path))
#     print(file.shape)
    mask = np.where(np.equal(mask, 4), 1, 0) # 1 red
    mask = mask.astype(np.bool)
    gps = file[mask]
#     print(len(gps))
#     print(mask.shape)
    num = np.median(gps)
    print(num)
    med.append(num)

43.0
37.0
30.0
171.0
43.0
35.0
35.0
44.0
196.0
42.0
45.0
50.0
37.0
230.0
34.0
207.0
34.0
45.0
54.0
45.0
40.0
39.0
179.0
42.0
231.0
40.0
45.0
163.0
137.0
36.0
168.0
260.0

In [21]:
dic = {'folder': tr_list, 
      'median': med}
df = pd.DataFrame(dic)
df.to_csv('blue-train_media.csv', index=False)

In [22]:
df

    folder  median
0        5    14.0
1       33    -3.0
2       26    17.0
3        2    50.0
4       13    21.0
5       27    12.0
6       20    23.0
7       40    29.0
8        6    45.0
9       19    22.0
10      36    17.0
11      18    10.0
12      35    22.0
13      22    41.0
14      11    22.0
15      28    13.0
16       7    19.0
17      37    26.0
18      29    31.0
19       8    47.0
20      30    28.0
21      24    22.0
22      16    31.0
23      10    20.0
24      38    64.0
25      21    18.0
26       4    22.0
27      32    42.0
28       9    41.0
29      23    15.0
30      25    31.0
31      31    43.0

In [23]:
df

   folder  median
0       1    26.0
1      39    17.0
2      34   115.0
3      12    34.0
4      17    42.0
5      14    30.0
6      15    36.0
7       3   113.0

In [8]:
med = []
for i in test_list:
    mask_path = os.path.join('/public/lixin/SegTHOR/segthor/post-process/result', 
                             'Patient_' + str(i).zfill(2) + '.nii')
    file_path = os.path.join('/public/lixin/DATA/segthor/input/segthor_gz/test', 
                             'Patient_' + str(i).zfill(2) + '.nii.gz')
    file = sitk.GetArrayFromImage(sitk.ReadImage(file_path))
    mask = sitk.GetArrayFromImage(sitk.ReadImage(mask_path))
#     print(file.shape)
    mask = np.where(np.equal(mask, 1), 1, 0)
    mask = mask.astype(np.bool)
    gps = file[mask]
#     print(len(gps))
#     print(mask.shape)
    num = np.median(gps)
    print(num)
    med.append(num)

41.0
25.0
22.0
-4.0
59.0
29.0
33.0
-5.0
15.0
44.0
25.0
18.0
16.0
37.0
2.0
12.0
9.0
48.0
2.0
17.0

In [12]:
dic = {'folder': test_list, 
      'median': med}
df = pd.DataFrame(dic)
df.to_csv('red-test_media.csv', index=False)

In [13]:
df

    folder  median
0       41    41.0
1       42    25.0
2       43    22.0
3       44    -4.0
4       45    59.0
5       46    29.0
6       47    33.0
7       48    -5.0
8       49    15.0
9       50    44.0
10      51    25.0
11      52    18.0
12      53    16.0
13      54    37.0
14      55     2.0
15      56    12.0
16      57     9.0
17      58    48.0
18      59     2.0
19      60    17.0

In [14]:
df.loc[df['folder']== 41]

   folder  median
0      41    41.0